&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header-simple }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-page-header }}
		
		&lt;section class=&quot;section&quot;&gt;
			&lt;div class=&quot;lc lc-single&quot;&gt;
				{{&gt; organisms-donate-extended }}
			&lt;/div&gt;
			
		&lt;/section&gt;
		
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer-simple }}
&lt;/div&gt;