{{# well }}
&lt;div class=&quot;well&quot;&gt;
	&lt;div class=&quot;lc lc-single&quot;&gt;
		&lt;h2 class=&quot;well-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
		&lt;p class=&quot;well-desc&quot;&gt;{{{ excerpt.short }}}&lt;/p&gt;
		{{&gt; molecules-newsletter }}
		{{&gt; molecules-social-nav }}
	&lt;/div&gt;
&lt;/div&gt;
{{/ well }}