&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-page-header }}
		&lt;div class=&quot;main-body l&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;div class=&quot;lc lc-single&quot;&gt;
					{{&gt; organisms-text-passage }}
				&lt;/div&gt;
				{{&gt; molecules-well }}
			&lt;/div&gt;
			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-sidebar-post-list }}
				{{&gt; organisms-sidebar-event-list }}
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;