&lt;div class=&quot;pagination&quot;&gt;
	&lt;a href=&quot;{{ url}}&quot; class=&quot;btn btn-small pagination-prev&quot;&gt;Previous&lt;/a&gt;
	&lt;a href=&quot;{{ url}}&quot; class=&quot;btn btn-small pagination-next&quot;&gt;Next&lt;/a&gt;
&lt;/div&gt;