&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; organisms-hero-page-header-form }}
		&lt;div class=&quot;lc&quot;&gt;
			&lt;div class=&quot;directory section&quot;&gt;
				&lt;header class=&quot;section-header&quot;&gt;
					&lt;h2 class=&quot;section-title&quot;&gt;Food assistance closest to you&lt;/h2&gt;
					&lt;p class=&quot;section-desc&quot;&gt;These are the results closest to you lorem ipsum dolar&lt;/p&gt;
				&lt;/header&gt;
				
				&lt;div class=&quot;directory-list-container&quot;&gt;
				
				&lt;ol class=&quot;directory-list&quot;&gt;
					&lt;li&gt;
						{{&gt; molecules-block-directory }}
					&lt;/li&gt;
					&lt;li&gt;
						{{&gt; molecules-block-directory }}
					&lt;/li&gt;
					&lt;li&gt;
						{{&gt; molecules-block-directory }}
					&lt;/li&gt;
					&lt;li&gt;
						{{&gt; molecules-block-directory }}
					&lt;/li&gt;
					&lt;li&gt;
						{{&gt; molecules-block-directory }}
					&lt;/li&gt;
				&lt;/ol&gt;
			&lt;/div&gt;
			&lt;div class=&quot;directory-map-container&quot;&gt;
				&lt;iframe src=&quot;https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97183.46594409148!2d-79.98050050000002!3d40.43136844999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f16f48068503%3A0x8df915a15aa21b34!2sPittsburgh%2C+PA!5e0!3m2!1sen!2sus!4v1404788856245&quot; width=&quot;600&quot; height=&quot;450&quot; frameborder=&quot;0&quot; style=&quot;border:0&quot; id=&quot;directory-map&quot;&gt;&lt;/iframe&gt;
			&lt;/div&gt;
		&lt;/div&gt;&lt;!--end .main-body--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;