&lt;nav id=&quot;nav&quot; class=&quot;nav&quot; role=&quot;navigation&quot;&gt;
	&lt;ul class=&quot;nav-action-list&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-get-help }}&quot;&gt;Get Help&lt;span class=&quot;icon-arrow-right5&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-get-involved-landing }}&quot;&gt;Give Help&lt;span class=&quot;icon-arrow-right5&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
	&lt;ul id=&quot;menu-main-menu&quot; class=&quot;menu&quot;&gt;
		&lt;li class=&quot;menu-item menu-item-object-page menu-item-has-children&quot;&gt;
			&lt;a href=&quot;#&quot;&gt;About&lt;/a&gt;
			&lt;ul class=&quot;sub-menu&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;About Us&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Operations&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Board and Management&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Jobs and Internships&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Agencies&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Donors&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Sponsors&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Finances&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Fundraising Policy&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-about-landing }}&quot;&gt;Awards and Press&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li class=&quot;menu-item menu-item-object-page menu-item-has-children&quot;&gt;
			&lt;a href=&quot;#&quot;&gt;What We Do&lt;/a&gt;
			&lt;ul class=&quot;sub-menu&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-landing }}&quot;&gt;All Programs&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;Produce to People&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;Community Harvest&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;SNAP&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;Farm Stand Project&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;Summer Food&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;Commodity Supplemental Food Program&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;Nutrition&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;Agency Relations&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-program-detail }}&quot;&gt;Educational Programs&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		
		&lt;li class=&quot;menu-item menu-item-object-page menu-item-has-children&quot;&gt;
			&lt;a href=&quot;#&quot;&gt;Learn&lt;/a&gt;
			&lt;ul class=&quot;sub-menu&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-resources-landing }}&quot;&gt;Resource Center&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-resources-faq }}&quot;&gt;FAQ&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-resources-detail }}&quot;&gt;About Hunger&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-resources-detail }}&quot;&gt;Hunger Profiles&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-resources-detail }}&quot;&gt;Food Sources&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-resources-detail }}&quot;&gt;Advocacy Information&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ link.pages-resources-detail }}&quot;&gt;Links&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-blog-landing }}&quot;&gt;News&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-events-landing }}&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-contact }}&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;menu-item-174&quot;&gt;&lt;a href=&quot;{{ link.pages-donate }}&quot;&gt;Donate&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
