&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header header-simple&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;
		{{&gt; atoms-logo }}
	&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;