&lt;div class=&quot;accordion-to-full&quot;&gt;
	{{# accordion }}
		&lt;h3 class=&quot;acc-handle&quot;&gt;{{ label }}&lt;/h3&gt;
		&lt;div class=&quot;acc-panel text&quot;&gt;
			{{ text }}
		&lt;/div&gt;
	{{/ accordion }}
&lt;/div&gt;