&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-page-header }}
		&lt;div class=&quot;main-body l&quot;&gt;
			&lt;div class=&quot;l-main lc&quot;&gt;
				&lt;div class=&quot;text&quot;&gt;
					&lt;p&gt;Greater Pittsburgh Community Food Bank is indebted to our community partners who donate or help us purchase food, sponsor our events, and help underwrite the cost of Food Bank operations.

&lt;p&gt;Foundation grants, corporate sponsorship, and individual donations make up the lion&rsquo;s share of the funds that support the Food Bank. Government support makes up only 29% of the Food Bank&rsquo;s budget.

&lt;p&gt;The Food Bank welcomes donations of food and grocery items. You can find information about most-needed items and drop-off locations on the donate food page. Commercial food donors please read about our food donation programs on the sources of food page.
				&lt;/div&gt;
				&lt;section class=&quot;section&quot;&gt;
					&lt;header class=&quot;section-header&quot;&gt;
						&lt;h2 class=&quot;section-title&quot;&gt;Thanks to our amazing sponsors&lt;/h2&gt;
					&lt;/header&gt;
					&lt;ul class=&quot;g g-3up&quot;&gt;
						{{# sponsorList }}
						&lt;li class=&quot;gi&quot;&gt;
							&lt;a href=&quot;{{ url }}&quot; rel=&quot;external&quot;&gt;{{&gt; molecules-block-thumb-title }}&lt;/a&gt;
						&lt;/li&gt;
						{{/ sponsorList }}
					&lt;/ul&gt;
				&lt;/section&gt;
			&lt;/div&gt;&lt;!--end .l-main--&gt;
			{{&gt; molecules-well }}
			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-sidebar-text-list }}
			&lt;/div&gt;&lt;!--end .l-sidebar2--&gt;
		&lt;/div&gt;&lt;!--end .l-3col--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;