&lt;ul class=&quot;tabs&quot;&gt;
	&lt;li class=&quot;tribe-bar-active&quot;&gt;&lt;a href=&quot;#&quot;&gt;List&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Calendar&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;