&lt;a href=&quot;/&quot; rel=&quot;home&quot; class=&quot;logo-link&quot; tabindex=&quot;1&quot;&gt;&lt;img src=&quot;../../images/logo-white.svg&quot; class=&quot;logo&quot; alt=&quot;{{ company.name }}, a member of Feeding America&quot; /&gt;&lt;/a&gt;