{{# timeline }}
&lt;ol class=&quot;timeline&quot;&gt;
	{{#timelineList }}
	&lt;li class=&quot;timeline-li&quot;&gt;
		&lt;h4 class=&quot;timeline-timestamp&quot;&gt;{{ timestamp }}&lt;/h4&gt;
		&lt;p class=&quot;timeline-desc&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
	&lt;/li&gt;
	{{/ timelineList }}
&lt;/ol&gt;
{{/ timeline }}