&lt;table class=&quot;tribe-events-calendar&quot; style=&quot;
    boder-radius: 10px;
&quot;&gt;
	&lt;thead style=&quot;
    border-radius: 10px;
&quot;&gt;
		&lt;tr style=&quot;
    border-radius: cale;
&quot;&gt;
		
			&lt;th id=&quot;tribe-events-monday&quot; title=&quot;Monday&quot; data-day-abbr=&quot;Mon&quot;&gt;Monday&lt;/th&gt;
		
			&lt;th id=&quot;tribe-events-tuesday&quot; title=&quot;Tuesday&quot; data-day-abbr=&quot;Tue&quot;&gt;Tuesday&lt;/th&gt;
		
			&lt;th id=&quot;tribe-events-wednesday&quot; title=&quot;Wednesday&quot; data-day-abbr=&quot;Wed&quot;&gt;Wednesday&lt;/th&gt;
		
			&lt;th id=&quot;tribe-events-thursday&quot; title=&quot;Thursday&quot; data-day-abbr=&quot;Thu&quot;&gt;Thursday&lt;/th&gt;
		
			&lt;th id=&quot;tribe-events-friday&quot; title=&quot;Friday&quot; data-day-abbr=&quot;Fri&quot;&gt;Friday&lt;/th&gt;
		
			&lt;th id=&quot;tribe-events-saturday&quot; title=&quot;Saturday&quot; data-day-abbr=&quot;Sat&quot;&gt;Saturday&lt;/th&gt;
		
			&lt;th id=&quot;tribe-events-sunday&quot; title=&quot;Sunday&quot; data-day-abbr=&quot;Sun&quot;&gt;Sunday&lt;/th&gt;
				&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody class=&quot;hfeed vcalendar&quot;&gt;
		&lt;tr&gt;
								&lt;td class=&quot;tribe-events-othermonth&quot;&gt;
				

			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-othermonth&quot;&gt;
				

			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-othermonth&quot;&gt;
				

			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-01&quot; data-day=&quot;1&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-1&quot;&gt;

					1		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-02 tribe-events-right&quot; data-day=&quot;2&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-2&quot;&gt;

					2		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-03 tribe-events-right&quot; data-day=&quot;3&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-3&quot;&gt;

					3		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-04 tribe-events-right&quot; data-day=&quot;4&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-4&quot;&gt;

					4		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
							&lt;/tr&gt;
		&lt;tr&gt;
						&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-05&quot; data-day=&quot;5&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-5&quot;&gt;

					5		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-06&quot; data-day=&quot;6&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-6&quot;&gt;

					6		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-07&quot; data-day=&quot;7&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-7&quot;&gt;

					7		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-08&quot; data-day=&quot;8&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-8&quot;&gt;

					8		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-09 tribe-events-right&quot; data-day=&quot;9&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-9&quot;&gt;

					9		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-10 tribe-events-right&quot; data-day=&quot;10&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-10&quot;&gt;

					10		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-11 tribe-events-right&quot; data-day=&quot;11&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-11&quot;&gt;

					11		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
							&lt;/tr&gt;
		&lt;tr&gt;
						&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-12&quot; data-day=&quot;12&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-12&quot;&gt;

					12		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-13&quot; data-day=&quot;13&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-13&quot;&gt;

					13		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-14&quot; data-day=&quot;14&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-14&quot;&gt;

					14		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-15&quot; data-day=&quot;15&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-15&quot;&gt;

					15		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-16 tribe-events-right&quot; data-day=&quot;16&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-16&quot;&gt;

					16		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-17 tribe-events-right&quot; data-day=&quot;17&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-17&quot;&gt;

					17		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-18 tribe-events-right&quot; data-day=&quot;18&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-18&quot;&gt;

					18		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
							&lt;/tr&gt;
		&lt;tr&gt;
						&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-19&quot; data-day=&quot;19&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-19&quot;&gt;

					19		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-20&quot; data-day=&quot;20&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-20&quot;&gt;

					20		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-21&quot; data-day=&quot;21&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-21&quot;&gt;

					21		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-22&quot; data-day=&quot;22&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-22&quot;&gt;

					22		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-23 tribe-events-right&quot; data-day=&quot;23&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-23&quot;&gt;

					23		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-24 tribe-events-right&quot; data-day=&quot;24&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-24&quot;&gt;

					24		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-25 tribe-events-right&quot; data-day=&quot;25&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-25&quot;&gt;

					25		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
							&lt;/tr&gt;
		&lt;tr&gt;
						&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-26&quot; data-day=&quot;26&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-26&quot;&gt;

					26		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-27&quot; data-day=&quot;27&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-27&quot;&gt;

					27		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-28&quot; data-day=&quot;28&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-28&quot;&gt;

					28		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-present tribe-events-has-events mobile-trigger tribe-event-day-29&quot; data-day=&quot;29&quot; data-date-name=&quot;May 29, 2014&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-29&quot;&gt;

					&lt;a href=&quot;http://wordpress.pittsburghfoodbank.org/events/2014-05-29/&quot;&gt;29&lt;/a&gt;
		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
			

&lt;div id=&quot;tribe-events-event-825-29&quot; class=&quot;hentry vevent tribe-events-category-fundraiser post-825 tribe_events type-tribe_events status-publish hentry tag-feed-the-kids tag-kids tag-telethon cat_fundraiser tribe-events-venue-826 tribe-events-last&quot; data-tribejson=&quot;{&amp;quot;eventId&amp;quot;:825,&amp;quot;title&amp;quot;:&amp;quot;&amp;quot;Feed the Kids&amp;quot; Summer Telethon&amp;quot;,&amp;quot;permalink&amp;quot;:&amp;quot;http:\/\/wordpress.pittsburghfoodbank.org\/events\/feed-the-kids-summer-telethon\/&amp;quot;,&amp;quot;imageSrc&amp;quot;:&amp;quot;&amp;quot;,&amp;quot;startTime&amp;quot;:&amp;quot;May 29, 2014 4:00 pm&amp;quot;,&amp;quot;endTime&amp;quot;:&amp;quot;8:00 pm&amp;quot;,&amp;quot;imageTooltipSrc&amp;quot;:&amp;quot;&amp;quot;,&amp;quot;excerpt&amp;quot;:&amp;quot;Citizens Bank Foundation and Giant Eagle are teaming up to help make sure no children go hungry this summer.&amp;quot;}&quot;&gt;
	&lt;h3 class=&quot;tribe-events-month-event-title summary&quot;&gt;&lt;a href=&quot;http://wordpress.pittsburghfoodbank.org/events/feed-the-kids-summer-telethon/&quot; class=&quot;url&quot;&gt;&ldquo;Feed the Kids&rdquo; Summer Telethon&lt;/a&gt;&lt;/h3&gt;
&lt;/div&gt;&lt;!-- #tribe-events-event-# --&gt;

	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-future mobile-trigger tribe-event-day-30 tribe-events-right&quot; data-day=&quot;30&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-30&quot;&gt;

					30		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-thismonth tribe-events-future mobile-trigger tribe-event-day-31 tribe-events-right&quot; data-day=&quot;31&quot;&gt;
				


	&lt;!-- Day Header --&gt;
	&lt;div id=&quot;tribe-events-daynum-31&quot;&gt;

					31		
	&lt;/div&gt;

	&lt;!-- Events List --&gt;
	
	&lt;!-- View More --&gt;
	
			&lt;/td&gt;
								&lt;td class=&quot;tribe-events-othermonth tribe-events-right&quot;&gt;
				

			&lt;/td&gt;
				&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;