&lt;div class=&quot;info-box&quot;&gt;
&lt;dl&gt;
	{{# infoBox }}
	&lt;dt&gt;{{{ dt }}}&lt;/dt&gt;
	&lt;dd&gt;{{{ dd }}}&lt;/dd&gt;
	{{/ infoBox }}
&lt;/dl&gt;
{{&gt; molecules-button }}
&lt;/div&gt;
