&lt;div class=&quot;page-header beets&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Beets&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header cucumbers&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Cucumbers&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header carrots&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Carrots&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header corn&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Corn&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header eggs&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Eggs&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header lettuce&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Lettuce&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header onions&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Onions&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header peppers&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Peppers&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header peppers2&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Peppers2&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header potatoes&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Pototoes&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header pumpkins&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Pumpkins&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header squash&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Squash&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;page-header tomatoes&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;Tomatoes&lt;/h1&gt;
	&lt;p class=&quot;page-intro&quot;&gt;Page Header&lt;/p&gt;
&lt;/div&gt;