&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;contact-form&quot;&gt;
	&lt;div class=&quot;field-container&quot;&gt;
		&lt;label for=&quot;contact-name&quot;&gt;Name&lt;/label&gt;
		&lt;input type=&quot;text&quot; placeholder=&quot;First Last&quot; autocomplete=&quot;off&quot; id=&quot;contact-name&quot; /&gt;
	&lt;/div&gt;
	&lt;div class=&quot;field-container&quot;&gt;
		&lt;label for=&quot;contact-email&quot;&gt;Email&lt;/label&gt;
		&lt;input type=&quot;email&quot; placeholder=&quot;name@domain.com&quot;  id=&quot;contact-email&quot; /&gt;
	&lt;/div&gt;
	&lt;div class=&quot;field-container&quot;&gt;
		&lt;label for=&quot;contact-reason&quot;&gt;Reason for contacting&lt;/label&gt;
		&lt;select id=&quot;contact-reason&quot;&gt;
			&lt;option&gt;General Inquiry&lt;/option&gt;
			&lt;option&gt;Donations&lt;/option&gt;
			&lt;option&gt;Programs&lt;/option&gt;
			&lt;option&gt;Jobs&lt;/option&gt;
			&lt;option&gt;Other&lt;/option&gt;
		&lt;/select&gt;
	&lt;/div&gt;
	&lt;div class=&quot;field-container&quot;&gt;
		&lt;label for=&quot;contact-message&quot;&gt;Message&lt;/label&gt;
		&lt;textarea placeholder=&quot;Enter your message here&quot;  rows=&quot;6&quot; id=&quot;contact-message&quot;&gt;&lt;/textarea&gt;
	&lt;/div&gt;
&lt;/form&gt;