&lt;nav role=&quot;navigation&quot; class=&quot;nav-footer&quot;&gt;
	&lt;div class=&quot;g g-4up&quot;&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;h3 class=&quot;nav-footer-item acc-handle&quot;&gt;&lt;a href=&quot;#&quot;&gt;Programs&lt;/a&gt;&lt;/h3&gt;
			&lt;ul class=&quot;acc-panel&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Produce to People&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Community Harvest&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;SNAP&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Farm Stand Project&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Summer Food&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Commodity Supplemental Food&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Nutrition&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Agency Relations&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Educational Programs&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;h3 class=&quot;nav-footer-item acc-handle&quot;&gt;&lt;a href=&quot;#&quot;&gt;About&lt;/a&gt;&lt;/h3&gt;
			&lt;ul class=&quot;acc-panel&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;About Us&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Operations&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Board and Management&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Jobs and Internships&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Agencies&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Donors&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Sponsors&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Finances&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Fundraising Policy&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;h3 class=&quot;nav-footer-item acc-handle&quot;&gt;&lt;a href=&quot;#&quot;&gt;Resources&lt;/a&gt;&lt;/h3&gt;
			&lt;ul class=&quot;acc-panel&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Resource Center&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;FAQ&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;About Hunger&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Hunger Profiles&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Food Sources&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Advocacy Information&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Links&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;			
			&lt;h3 class=&quot;nav-footer-item acc-handle&quot;&gt;&lt;a href=&quot;{{ link.pages-events-landing }}&quot;&gt;Upcoming Events&lt;/a&gt;&lt;/h3&gt;
			&lt;div class=&quot;acc-panel&quot;&gt;
				&lt;div class=&quot;block block-post-small&quot;&gt;
					&lt;h4 class=&quot;b-title&quot;&gt;&lt;a href=&quot;{{ url}}&quot;&gt;Corpus Christi Parish Fish Fry&lt;/a&gt;&lt;/h4&gt;
					&lt;p class=&quot;b-timestamp&quot;&gt;March 5 - April 18, 2014&lt;/p&gt;
				&lt;/div&gt;
				&lt;a href=&quot;{{ link.pages-events-landing }}&quot;&gt;View all events&lt;/a&gt;
				&lt;hr /&gt;
			&lt;/div&gt;
			&lt;h3 class=&quot;nav-footer-item acc-handle&quot;&gt;&lt;a href=&quot;#&quot;&gt;Latest from the Blog&lt;/a&gt;&lt;/h3&gt;
			&lt;div class=&quot;acc-panel&quot;&gt;
				&lt;div class=&quot;block block-post-small&quot;&gt;
					&lt;h4 class=&quot;b-title&quot;&gt;&lt;a href=&quot;{{ url}}&quot;&gt;Brad Paisley Concert Food Drive&lt;/a&gt;&lt;/h4&gt;
					&lt;p class=&quot;b-timestamp&quot;&gt;March 23, 2014&lt;/p&gt;
				&lt;/div&gt;
				&lt;a href=&quot;{{ link.pages-blog-landing }}&quot;&gt;View all news&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/nav&gt;
