&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;
		{{&gt; atoms-logo-white }}
		&lt;a href=&quot;#search-form&quot; class=&quot;nav-toggle nav-toggle-search&quot;&gt;&lt;span class=&quot;icon-search&quot;&gt;&lt;/span&gt;&lt;/a&gt;
		&lt;a href=&quot;#nav&quot; class=&quot;nav-toggle nav-toggle-menu&quot;&gt;&lt;span class=&quot;icon-menu2&quot;&gt;&lt;/span&gt;&lt;span class=&quot;nav-toggle-label&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;
		&lt;div class=&quot;header-nav-container&quot;&gt;
			{{&gt; molecules-search }}
			{{&gt; molecules-primary-nav }}
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;