&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-page-header }}
		&lt;div class=&quot;l-3col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, voluptatum, ratione labore laudantium assumenda molestiae ipsa dignissimos accusamus amet omnis distinctio sit inventore minima. Magni, hic nam maiores iste sit&lt;/p&gt;
				&lt;div class=&quot;g g-2up&quot;&gt;
					{{# list }}
					&lt;div class=&quot;gi&quot;&gt;
						{{&gt; molecules-block-thumb-title-excerpt }}
					&lt;/div&gt;
					{{/ list }}
				&lt;/div&gt;
				&lt;hr /&gt;
				&lt;div class=&quot;text&quot;&gt;
					&lt;h2&gt;Volunteer Age Requirements&lt;/h2&gt;
					&lt;ul&gt;
						&lt;li&gt;&lt;strong&gt;Age 4+ (w/adult):&lt;/strong&gt; Fall Food Share Food Drive&lt;/li&gt;
						&lt;li&gt;&lt;strong&gt;Age 7+ (w/adult):&lt;/strong&gt; Gleaning&lt;/li&gt;
						&lt;li&gt;&lt;strong&gt;Age 12+ (w/adult):&lt;/strong&gt; Repack, Clerical, Produce to People, Some Food Drives &lt;/li&gt;
						&lt;li&gt;&lt;strong&gt;Age 15+:&lt;/strong&gt; Empty Bowls&lt;/li&gt;
						&lt;li&gt;&lt;strong&gt;Age 18+:&lt;/strong&gt; Blues Festival&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
				{{&gt; molecules-well }}
				
			&lt;/div&gt;&lt;!--end .l-main--&gt;
			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; molecules-section-nav }}
			&lt;/div&gt;&lt;!--end .l-sidebar--&gt;
			&lt;div class=&quot;l-sidebar2&quot;&gt;
				{{&gt; organisms-sidebar-event-list }}
			&lt;/div&gt;&lt;!--end .l-sidebar2--&gt;
		&lt;/div&gt;&lt;!--end .l-3col--&gt;
		
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;