&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-pattern-banner }}
		&lt;div class=&quot;l-3col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				{{&gt; molecules-page-header }}
				&lt;div class=&quot;text&quot;&gt;
					&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, culpa, pariatur nostrum eveniet impedit blanditiis itaque ipsa modi molestias optio similique maiores voluptatibus veniam voluptate nemo officia tenetur! Et, dolores?&lt;/p&gt;
					&lt;h2&gt;Policy Priorities&lt;/h2&gt;
					&lt;ul&gt;
						&lt;li&gt;&lt;strong&gt;Lorem ipsum dolor&lt;/strong&gt; sit amet, consectetur adipisicing elit. Rem, iste, sapiente modi consequatur inventore deserunt molestiae sit praesentium perferendis quo. Fugiat explicabo dolor quod optio ea! Ad numquam id voluptatibus.&lt;/li&gt;
						&lt;li&gt;&lt;strong&gt;Cumque, a debitis velit aliquam&lt;/strong&gt; iusto sapiente quo repellat iure enim nulla. Incidunt, esse, temporibus, deserunt earum fugiat modi quis dicta sunt nostrum assumenda tenetur nihil fuga expedita cumque praesentium.&lt;/li&gt;
						&lt;li&gt;&lt;strong&gt;Itaque, architecto, dolores&lt;/strong&gt;, facilis possimus rem aspernatur molestiae maxime repellendus nisi repudiandae distinctio similique officiis odit numquam voluptate provident dolorum necessitatibus praesentium pariatur molestias ea expedita at sint sapiente beatae.&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
				&lt;hr /&gt;
				&lt;h2&gt;Resources&lt;/h2&gt;

				{{&gt; molecules-well }}

				
			&lt;/div&gt;&lt;!--end .l-main--&gt;
			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; molecules-section-nav }}
			&lt;/div&gt;&lt;!--end .l-sidebar--&gt;
			&lt;div class=&quot;l-sidebar2&quot;&gt;
				{{&gt; organisms-sidebar-post-list }}
			&lt;/div&gt;&lt;!--end .l-sidebar2--&gt;
		&lt;/div&gt;&lt;!--end .l-3col--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;