&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-pattern-banner }}
		&lt;div class=&quot;l-3col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				{{&gt; molecules-page-header }}
				{{&gt; organisms-text-passage }}
			&lt;/div&gt;&lt;!--end .l-main--&gt;
			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; molecules-section-nav }}
			&lt;/div&gt;&lt;!--end .l-sidebar--&gt;
			&lt;div class=&quot;l-sidebar2&quot;&gt;
				{{&gt; organisms-sidebar-text }}
				{{&gt; organisms-sidebar-event-list }}
			&lt;/div&gt;&lt;!--end .l-sidebar2--&gt;
		&lt;/div&gt;&lt;!--end .l-3col--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;