{{# donate }}
&lt;div class=&quot;donate donate-widget&quot;&gt;
	&lt;div class=&quot;lc lc-single&quot;&gt;
		&lt;h2 class=&quot;section-title&quot;&gt;Donate to the Greater Pittsburgh Community Food Bank&lt;/h2&gt;
		{{&gt; organisms-donate-form }}
	&lt;/div&gt;&lt;!-- end .lc--&gt;
&lt;/div&gt;&lt;!-- end .donate-slider--&gt;
{{/ donate }}