&lt;a href=&quot;{{ link.pages-homepage }}&quot; rel=&quot;home&quot; class=&quot;logo-link&quot; tabindex=&quot;1&quot;&gt;&lt;img src=&quot;../../images/logo.svg&quot; class=&quot;logo&quot; alt=&quot;{{ company.name }}, a member of Feeding America&quot; /&gt;&lt;/a&gt;