&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;lc&quot;&gt;
			{{&gt; molecules-page-header }}
		&lt;/div&gt;
		&lt;div class=&quot;l-3col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				{{&gt; molecules-info-box }}
				&lt;div class=&quot;text&quot;&gt;
					&lt;p&gt;{{&gt; atoms-thumb }}&lt;/p&gt;
					&lt;p&gt;15th Annual D-JAM is set - this year at the Rex Theater in Pittsburgh's Historic South Side!&lt;/p&gt;

					&lt;p&gt;This year, groove to the sounds of Dave Tauberg and theCAUSE with special guest Steve Kimock!&lt;/p&gt;

					&lt;p&gt;Come see Pittsburgh's favorite jamband play the Grateful Dead, The Beatles,  Bob Dylan, Phish, and other favorites.&lt;/p&gt;

					&lt;p&gt;This is certainly NOT a night to be missed!&lt;/p&gt;
				&lt;/div&gt;
				{{&gt; organisms-well-subscribe }}
			&lt;/div&gt;&lt;!--end .l-main--&gt;
			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; molecules-section-nav }}
			&lt;/div&gt;&lt;!--end .l-sidebar--&gt;
			&lt;div class=&quot;l-sidebar2&quot;&gt;
				{{&gt; organisms-sidebar-event-list }}
			&lt;/div&gt;&lt;!--end .l-sidebar2--&gt;
		&lt;/div&gt;&lt;!--end .l-3col--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;