&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-page-header }}
		&lt;div class=&quot;lc&quot;&gt;
			&lt;section class=&quot;section&quot;&gt;
				&lt;header class=&quot;section-header&quot;&gt;
					&lt;h2 class=&quot;section-title&quot;&gt;Executive Staff&lt;/h2&gt;
				&lt;/header&gt;
				&lt;div class=&quot;g g-3up&quot;&gt;
					{{# execList }}
					&lt;div class=&quot;gi&quot;&gt;
						{{&gt; molecules-block-thumb-portrait-title }}
					&lt;/div&gt;
					{{/ execList }}
				&lt;/div&gt;
			&lt;/section&gt;
			&lt;hr /&gt;
			&lt;section class=&quot;section&quot;&gt;
				&lt;header class=&quot;section-header&quot;&gt;
					&lt;h2 class=&quot;section-title&quot;&gt;Board of Directors&lt;/h2&gt;
				&lt;/header&gt;
				&lt;div class=&quot;g g-3up&quot;&gt;
					{{# boardList }}
					&lt;div class=&quot;gi&quot;&gt;
						{{&gt; molecules-block-title-excerpt }}
					&lt;/div&gt;
					{{/ boardList }}
				&lt;/div&gt;
			&lt;/section&gt;	
		&lt;/div&gt;&lt;!--end .lc--&gt;
		{{&gt; molecules-well }}
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;