&lt;div class=&quot;page-header {{ pageHeaderClass }}&quot;&gt;
	&lt;h1 class=&quot;page-title&quot;&gt;{{ page.title }}&lt;/h1&gt;
	&lt;a href=&quot;{{ link.pages-get-help-directory }}&quot; class=&quot;btn&quot;&gt;Find Food Assistance Near You&lt;/a&gt;
&lt;/div&gt;